<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <br>
      <div class="head-delegate">
        <h1><strong><%= current_user.first_name %>'s Legacy Contacts</strong></h1>
        <br>
        <h4>Legacy contacts are individuals you entrust with the information you have given to Thanatos. They are responsible for ensuring your wishes are put in place. The choice of individual is of course up to you - perhaps a family member or close friend.</h4>
        <br>
        <h4>Your chosen legacy contact will be notified by email and asked to confirm. Upon confirmation, we will notify you here.</h4>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="form-wrapper-delegate">
          <div class="form-container-delegate">
            <div class="form-header-delegate">
              <h2 class="form-title-delegate">CREATE LEGACY CONTACT</h2>
              <span class="line"></span>
            </div>
            <div class="form-body-delegate">
            <%= render 'delegates/form', delegate: @delegate %>
          </div>
        </div>
      </div>
      <div class="dashboard-button-edit">
      <%= link_to "⬅️ DASHBOARD", dashboard_path, class: "dashboard-button-delegate" %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="delegates-card-container" id="delegates">
        <% @delegates.each do |delegate| %>
       <%= render 'delegates/card', delegate: delegate  %>
        <% end %>
      </div>
    </div>
  </div>
</div>


