<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <br>
      <div class="head-delegate">
      <h1><strong><%= current_user.first_name %>'s Summary</strong></h1>
    </div>
    <div class="col-lg-13">
</div>
    </div>
  </div>
</div>
