<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="head">
        <br>
        <h1>
          <strong> Your Personal Messages </strong>
        </h1>
        <br>
        <h5>
          We want to give you the option to leave personal messages for family and friends on a preferred day after your death. <br>
          <br>
          For example, you may wish to send a birthday message to your loved one or give your thoughts on a matter you never had the chance to share. <br>
        </h5>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-10 offset-lg-1">
  <div class="form-wrapper-delegate">
    <div class="form-container-delegate">
      <div class="form-header-delegate">
        <h2 class="form-title-delegate">CREATE MESSAGE</h2>
        <span class="line"></span>
      </div>
      <div class="form-body-delegate">
        <%= render 'messages/form', message: @message %>
      </div>
    </div>
  </div>

  <div id="messages">
    <% @messages.each do |message| %>
    <%= render 'messages/card', message: message %>
    <% end %>
  </div>
  <%= link_to "⬅ DASHBOARD", dashboard_path, class: "dashboard-button-delegate" %>

</div>
  <script>
    document.getElementById("gridRadios1").addEventListener("click", function(e) {
      document.getElementById("send_date_wrapper").hidden = false;
      document.getElementById("delay_period_wrapper").hidden = true;
    })
    document.getElementById("gridRadios2").addEventListener("click", function(e) {
      document.getElementById("send_date_wrapper").hidden = true;
      document.getElementById("delay_period_wrapper").hidden = false;
    })

  </script>
