<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Slogan tbd and just <br> some more room for..</h1>


    </div>
    <div class="col-4">
      <h2>
        PLACEHOLDER FOTO
      </h2>
    </div>
  </div>
</div>
