<section class="section-hp">

  <div class="section-item-left">
    <h1>
      Slogan tbd and just <br> some more room for..
    </h1>
    <p>
      Learn about funeral planning options and to-dos <br>
      Connect with the right providers for your needs <br>
      Easily share information with friends and family
    </p>
    <button type="button" class="signup-button get-started-button btn-margin-top">GET STARTED</button>
  </div>

  <div>
    <%= image_tag "Thanatos-banner.png", class: "img-hp-right" %>
  </div>

</section>

<div class="triangle-check-white">
</div>


<section class="section-hp bg-blue">

  <div class="section-item-left-page2">
    <p>If you’re here, you just lost someone you love.  <br><br>
      Or you want to be confident everything is taken care of before you go. <br><br>
      <strong> You’ve come to the right place. <br><br> </strong>
      We can help you through every stage of funeral planning, memorializing and grieving.

    </p>
    <button type="button" class="get-started btn-margin-top">GET STARTED</button>
  </div>

  <div>
    <%= image_tag "Thanatos-banner2.png", class: "img-hp-right" %>
  </div>

</section>

<div class="triangle-check">
</div>

<section class="section-hp">

  <div class="section-item-left">
    <h1>
      Slogan tbd and just <br> some more room for..
    </h1>
    <p>
      Learn about funeral planning options and to-dos <br>
      Connect with the right providers for your needs <br>
      Easily share information with friends and family
    </p>
    <button type="button" class="signup-button get-started-button btn-margin-top">GET STARTED</button>
  </div>

  <div>
    <%= image_tag "Thanatos-banner.png", class: "img-hp-right" %>
  </div>

</section>

