
<div class="card-map">
  <img src="https://cdn3.volusion.com/pfevm.nseys/v/vspfiles/photos/custom-painted-casket-2.gif">
  <div class="card-map-infos">
    <div style="width: 182px">
      <h2><%= link_to company.name%></h2>
      <p><%= company.address %></p>
      <p><strong><%= company.category %></strong>
      </p>
    </div>
  </div>
</div>
