 <div class="card-delegate" >
          <h2><%= social.channel %></h2>
          <div class="card-infos-delegate">
            <p><%= social.username%></p>
            <p><%= social.choice %></p>
          </div>
        </div>
