.triangle-check {
    position: absolute;
    top: 199%;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 49px solid transparent;
    border-right: 49px solid transparent;
    border-top: 52px solid #2C89B1;
}

.triangle-check-white {
    position: absolute;
    top: 99%;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 49px solid transparent;
    border-right: 49px solid transparent;
    border-top: 52px solid #F4F4F4;
}

.triangle-check-white-2 {
    position: absolute;
    top: 292%;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 49px solid transparent;
    border-right: 49px solid transparent;
    border-top: 52px solid #F4F4F4;
}
