.triangle-check {
    position: absolute;
    top: 178%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 49px solid transparent;
    border-right: 49px solid transparent;
    border-top: 52px solid #2C89B1;
}

.triangle-check-white {
    position: absolute;
    top: 93%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 49px solid transparent;
    border-right: 49px solid transparent;
    border-top: 52px solid #F4F4F4;
}
