.card-trip {
  width: 734px;
  height: 480px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  font-weight: bold;
  color: #2C89B1;
  line-height: 54px;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #B5B1B1;

}

.card-trip .card-trip-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
