.card-trip {
  width: 734px;
  height: 480px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  font-weight: bold;
  color: #2C89B1;
  line-height: 54px;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #B5B1B1;

}

.card-trip .card-trip-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 13px;
  padding-left: 70px;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-dashboard {
  color: #2C89B1;
  font-size: 25px;
  border-style: solid;
  text-align: center;
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  width: 280px;
  justify-content: center;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #2C89B1;

  }
}

.card-centric {
  padding-top: 40px;
}

.data-balloon {
  font-size: 10px;
}

.card-category-message {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: #2C89B1;
}

.card-category-message h2 {
  font-size: 24px;
  text-align: left;
}













