
.head h1 {
  color : #2C89B1
}

.head h2 {
  font-size: 30px;
  color: #2C89B1
}

.head h5 {
  font-size: 20px;
  color: #848080;
  padding-left: 30px;
 padding-right: 30px;
}

.head h4 {
 color: #848080;
 padding-left: 40px;
 padding-right: 40px;
}

[data-balloon]:after{
  font-size: 20px !important;
}

.rectangle {
  padding: 20px;
  // background-color: #848080;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  height: 130px;
  border-style: solid;
  color: #2C89B1;
  border-width: 2px;

}

.rectangle h4 {
  color: black;
  font-size: 20px;

}

.checked {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  right: 7px;
}

.side-search {
  margin-left: 40px;
  margin-right: 40px;
}
