.homepagebanner {
  img{
    width: 30vw;
  }
}

.section-hp{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 20px;
  }

  .btn-margin-top{
    margin-top: 50px;
  }
  .img-hp-right{
    width:350px;
    margin-left: 30px;
  }
  .section-item-left {
    height: 400px;
    width: 500px;
  }
  .section-item-left-page2 {
    color: white;
    height: 400px;
    width: 500px;
    font-size: 20px;
  }

}

.bg-blue{
  background-color: #2C89B1;
}












