.illustration_item {
  text-align: center;
  color: #2C89B1;
  font-size: 16px;

}
.item-illustration-img{
  width: 83%;
  height: 154px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.item-illustration-text {
  margin-top: 15px;
  color: #848080;
  font-size: 19px;
}

.item-illustration-img-vertical {
  margin-top: 80px;
  margin-bottom: 20px;
  width: 30%;
}

.item-illustration-text-horizontal-grey {
  text-align: left;
  height: 40px;
  margin-top: 45px;
  margin-bottom: 30px;
  height: 40px;
  font-size: 24px;
}

.item-illustration-text-horizontal-blue {
  text-align: left;
  height: 40px;
  font-size: 24px;
  color: #848080;
  margin-top: 60px;
}

