#map {
  width: 70%;
  height: 100vh;
  position: sticky;
  margin-top:20px;
  top: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  overflow:hidden;
}

.main-view-container{
  display: flex;
  justify-content: space-between;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  width: 210px;
  height: 216px;
}

.mapboxgl-popup-close-button{
  right: -6px;
    top: -6px;
    color:#2C89B1;
}

.card-map {
  padding-top: 20px;
  overflow: hidden;
    background: white;

}

.card-map > img {
  height: 90px;
  width: 100%;
  object-fit: cover;
}

.card-map h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  color:#2C89B1;
}

.card-map p {
  font-size: 10px;
  text-transform: uppercase;
}


.card-map .card-map-infos {
  margin-bottom: -26px;
    margin-top: 2px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
