.signup-button {
  border-radius: 25px;
  border: 3px solid #2C89B1;
  color: #2C89B1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 5px 10px;

}

.signup-button:hover{
  filter: brightness(60%);
  text-decoration: none;
}

.homesignup-button {
 margin-top: 50px;
}

.confirm-signup {
  width: 740px;
  height: 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  background-color:#2C89B1;
  border-radius: 25px;
}
