.form-wrapper{
  background-color: white;
  box-shadow: 0px 0px 10px rgba(1,1,1,0.3);
  width: 734px;
  margin: 70px;
  color:#7C7A7A;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.form-container{
    padding: 25px;
}

.form-header{
  display: flex;
}

.line{
  border-bottom: 2px solid #2C89B1;
  flex-grow: 1;
  padding-top:1px ;
}

.form-body{
  margin-top: 20px;
}

.form-title {
  margin:0;
}

.form-wrapper h2{
  color:#2C89B1;
}

.nameinput {
  display:flex;
  justify-content:space-between;
  align-items: center;
  input {
   display: inline;
  }
}

