 .form-wrapper-social {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(1,1,1,0.3);
  color: #7C7A7A;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  a {
    color: #2C89B1
  }
}
.form-title-social {
  color: #2C89B1

}
.media {
  margin-left: 300px;
}
.test{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-save-button {
  width: 100px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  background-color:#2C89B1;
  border-radius: 25px;
  margin-top: 10px;
}

.social-save-button:hover{
  filter: brightness(92%);
  text-decoration: none;
}
.fa-plus-circle {
  margin-top: 10px;
  margin-left: 10px;
}
.dashboard-button-social {
  // width: 200px;
  // height: 300px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  // font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  background-color:#2C89B1;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 30px;
  // margin-top: 20px;
  margin-left: 40px;
}
.dashboard-button-social:hover {
  filter: brightness(92%);
  text-decoration: none;
}
.fab {
  margin-left: 10px;
}


