.wrapper-blue {
  height: 100vh;
  background-color: #2C89B1;
  margin-top: 50px;
  padding-bottom: 40px;
  padding-top: 20px;
}

#situation .wrapper-text-left {
  // height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  color: white;
  font-size: 20px;
}
#situation .wrapper-text-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 20px;
}

#situation .image-right {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-left: 40px;
}

#situation .image-left {
  width: 100%;
  height: 200px;
  object-fit: contain;
  // margin-left: -5px;
  object-position: left;
}

#situation .wrapper-img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;

}

#situation h2 {
  color: white;
  margin-top: 30px;
  font-weight: bold;
}

#situation button {
  margin-top: 22px;
}
